<div class="img-funcionarios">
    <h1 class="titulo_funcionarios ">
        Conheça ou seja um dos nossos funcionarios
    </h1>
</div>

<p class="subtitulo_funcionarios">Listagem de funcionarios (
    <%= produtos.length %> funcionario disponível)
</p>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/faxineirasolo.png">
                </p>
                <h4 class="tituloIcone">
                    Seja você um funcionario solo
                </h4>
                <p class="subTituloIcone">
                    Aqui você se cadastra para ser um funcionario solo e é designado a equipes aleatorias quando ter um trabalho
                </p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/equipe-removebg-preview.png">
                </p>
                <h4 class="tiuloIcone">
                    Cadastre sua equipe!
                </h4>
                <p class="subTituloIcone">
                    Cadastre aqui sua equipe para trabalhar com o Ressaclean e tenha os melhores e mais eficientes trabalhos
                </p>
            </div>
        </div>
    </div>
</div>






















<% for (let contador = 0; contador < produtos.length; contador++) { %>

    <h2>
        <%= produtos[contador].nome %>
    </h2>

    <p>
        Id:
        <%= produtos[contador].id %>
    </p>

    <p>
        Valor: R$
        <%= produtos[contador].valor %>
    </p>

    <hr />

    <% } %>