<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<link rel="stylesheet" href="/public/Style.css" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=Marck+Script&family=PT+Sans+Narrow&display=swap" rel="stylesheet">


<div class="fundo1">
    <img class="imagemLogo" src="/public/Img/Logo_Ressaclean.png" width="620" />
    <h1 class="titulo1">
        <b>Curta ao máximo o rolê sem se preocupar com o dia seguinte</b>
    </h1>
    <h4 class="sub1">
        <b>O melhor serviço de limpeza para quem sofre com a ressaca...</b>
    </h4>

    <img src="/public/Img/divisao1.svg" style="width: 100%; height: 120px; position: absolute; left: 0; bottom: 0;" />
</div>
<!--<div class="divisor"></div>-->

<div class="fundoOpiniao">
    <div class="limitador1">
        <h4 style="color: #363636">
            Oque fazemos aqui na RessaClean?
        </h4>
        <p></p>

        <img src="/public/Img/iconeLinha.png" style="width: 40px; height: 40px" />

        <p></p>
        <p></p>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 coluna">
                    <div class="opinioes">
                        <h6><b>Celso Martinelli, organizador de festas</b></h6>

                        <p>
                           
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Nullam ultrices sapien mauris, sit amet semper turpis varius non. 
                            Sed in enim lectus. Maecenas 
                        </p>
                    </div>
                </div>

                <div class="col-md-4 coluna">
                    <div class="opinioes">
                        <h6><b>Neymar da Silva Santos Jr, jogador de futebol</b></h6>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Nullam ultrices sapien mauris, sit amet semper turpis varius non. 
                            Sed in enim lectus. Maecenas                         
                        </p>
                    </div>
                </div>

                <div class="col-md-4 coluna">
                    <div class="opinioes">
                        <h6><b>Rodrigo Cortese, estudante universitário</b></h6>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Nullam ultrices sapien mauris, sit amet semper turpis varius non. 
                            Sed in enim lectus. Maecenas                         
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fundoOpiniao">
    <div class="limitador1">
        <h4 style="color: #363636">
            Qual a opinião dos nossos clientes sobre nossas limpezas ?
        </h4>
        <p></p>

        <img src="/public/Img/iconeLinha.png" style="width: 40px; height: 40px" />

        <p></p>
        <p></p>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 coluna">
                    <div class="opinioes">
                        <h6><b>Celso Martinelli, organizador de festas</b></h6>

                        <p>
                            Um serviço muito qualificado e prático. Os funcionários são muito prestativos e eficientes. O melhor de tudo é que não me preocupo em comprar produtos de limpeza e ai eu posso gastar mais com atrativos para festa.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 coluna">
                    <div class="opinioes">
                        <h6><b>Neymar da Silva Santos Jr, jogador de futebol</b></h6>

                        <p>
                            A seloko mó esquema essa parada ta ligado kkkkk, fui dar uma festa e os caralho, ai geral foi pra um after depois e só chamei os cara da limpeza e eles arrumaram tudo direitinho parça, recomendo.
                        </p>
                    </div>
                </div>

                <div class="col-md-4 coluna">
                    <div class="opinioes">
                        <h6><b>Rodrigo Cortese, estudante universitário</b></h6>

                        <p>
                            Fui dar um rolê na minha casa e as coisas sairam do controle. Fiquei preocupadasso ta ligado, mas ainda bem que um amigo meu me recomendou o Ressaclean. Serviço impecável. Faxina do dia seguinte de ressaca nunca mais!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divisor2">
    <img src="/public/Img/divisao2.svg" style="width: 100%; height: 120px;" />
</div>

<div class="fundoFundadores">
    <div class="limitador1">
        <h3 class="titulo-fundadores">UM POUCO SOBRE OS <span>fundadores</span> DO RESSACLEAN</h3>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 coluna">
                    <img class="ftFundadores" src="/public/Img/fefo.png" />
                    <h5><b>Felipe "Fefo" Furukawa</b></h5>
                    <p>
                        Elegante, fotogênico e com um olhar cintilante. 
                        Essa é a descrição do cão ao meu lado. Nesse dia, 
                        a festa foi na minha casa e tudo estava tão lindo 
                        até o dia seguinte. Ao perceber o caos e destruição 
                        que ocorrerá em minha própria casa só conseguia imaginar 
                        a cara possessa da minha mãe. A minha indisposição e a bagunça 
                        era tão grande que eu nem sabia por onde começar a limpar. 
                        E dessa forma, em um momento de contemplação e sobriedade, 
                        a ideia de um serviço que pudesse fazer essa faxina pra mim 
                        brotou em minha mente... Assim nasce o conceito do RessaClean.
                    </p>
                </div>

                <div class="col-md-6 coluna">
                    <img class="ftFundadores" src="/public/Img/matheus.png" />
                    <h5><b>Mateus "Pifre" Freitas</b></h5>
                    <p>Um dia eu e meu amigo resolvemos dar uma enorme festa
                        na casa dele, as coisas estavam indo super bem, mas no
                        final quando vimos os banheiros e cozinha até ficamos
                        assustados, ainda bem que a gente já tinha até marcado
                        um Ressaclean, no dia seguinte parecia que nada tinha acontecido 
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 coluna">
                    <img class="ftFundadores" src="/public/Img/felps.png" />
                    <h5><b>Felipe "Felpera" Joubeir</b></h5>

                    <p>
                        Meus pais foram viajar num feriado, então decidi dar 
                        uma festa que ia durar o final de semana todo, porém 
                        eles ligaram e falaram que iam voltar um dia antes do
                        esperado, entrei em choque porque era impossível arrumar 
                        tudo em tão pouco tempo, até que um cara que nunca tinha 
                        visto na vida que estava em outro mundo já, me deu a ideia 
                        de contratar um serviço do Ressaclean, agradeço esse cara, 
                        que foi como um mestre dos magos para mim que me salvou da morte.
                    </p>
                </div>
                <div class="col-md-6 coluna">
                    <img class="ftFundadores" src="/public/Img/Assis.png" />
                    <h5><b>Bruno "Bu" Assis</b></h5>
                    <p>Uma festa louca estava rolando na minha casa, lá para as tantas tocou "Smell Like a Teen Spirit" e o aniversariante esbarrou em uma mesa que caiu na piscina. Aquilo desencadeou uma insanidade coletiva que todo mundo começou a jogar
                        tudo na piscina, liquidificador, prato da bateria, celular, outras pessoas e quando olho tinha um animal tentando arrancar o fogão da parede para jogar dentro da piscina. No dia seguinte a casa estava uma bagunça mas graças as
                        recomendações de uns amigos solicitei o serviço da Ressaclean e a casa foi limpa em menos de uma hora, serviço esplêndido.</p>
                </div>
                <div class="ft-fund">
                    <img class="ftFundadores" src="/public/Img/pedrolucas.png">
                    <h5><b>Pedro " " Lucas</b></h5>
                    <p>Lorem ipsum </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="divisor2">
    <img src="/public/Img/divisao3.svg" style="width: 100%; height: 120px;" />
</div>

<div class="background-contacts">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col contact">
                <h4 class="titulo-ressaclean">
                    <span><i class="fas fa-broom"></i> Ressaclean</span>
                </h4>
                <ul>
                    <p>A melhor empresa de limpeza</p>
                    <li><i class="fas fa-phone"></i> (11) 99999-9999</li>
                    <li><i class="far fa-envelope"></i> Ressaclean@gmail.com</li>
                    <li>
                        <i class="fas fa-search-location"></i> 250 St Kilda Road, Melboume VIC 3004, Australia
                    </li>
                </ul>
            </div>
            <div class="col contact">
                <ul>
                    <h6 class="link"><span>Links</span></h6>
                    <li><i class="fas fa-home"></i> Home</li>
                    <li><i class="far fa-question-circle"></i> Sobre</li>
                    <li><i class="fas fa-landmark"></i> Historia da empresa</li>
                </ul>
            </div>
            <div class="col contact">
                <ul>
                    <h6><span class="suporte">Suporte</span></h6>
                    <li><i class="far fa-comments"></i> Feedbacks</li>
                    <li><i class="fas fa-phone-volume"></i> Contate-nos</li>
                    <li><i class="fas fa-briefcase"></i> Trabalhe conosco</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="copy">
    <p>Copyright &copy; 2021 Ressaclean</p>
</div>
