<h1 class="titulo-sv">
    Nossos Serviços
</h1>

<h3 class="subtitulo-sv">
    Conheça nossa variadade de planos e disponibilidades
</h3>

<div class="container-sv">
    <div class="row servico">
        <div class="col-sm-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Basico(HP)</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$50 <small class="text-muted">/ hr</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Limpeza para sua house party</li>
                    <li>Pode ser agendada ou não</li>
                    <li>De 2 a 3 funcionarios</li>
                    <li>Area de 0 a 150 m²</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary btn-servico">Contrate esse serviço</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Festão</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$100 <small class="text-muted">/ hr</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Limpeza pesada</li>
                    <li>Pode ser agendada ou não</li>
                    <li>De 2 a 6 funcionarios</li>
                    <li>Area de 150 a 400 m²</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary btn-servico">Bora que hoje tem!</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Mega evento</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$250 <small class="text-muted">/ hr</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Limpeza pesada</li>
                    <li>Tem que ser agendada</li>
                    <li>De 6 a 12 funcionarios</li>
                    <li>Area de 400 a ∞ m²</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary btn-servico">Aqui vai ACONTECER!!</button>
            </div>
        </div>
    </div>
</div>
<h1 class="titulo2-sv">
    Porque escolher Nossos serviços
</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/imediato.png">
                </p>
                <h4 class="tituloIcone">
                    Rapidez
                </h4>
                <p class="subTituloIcone">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/facil.png">
                </p>
                <h4 class="tiuloIcone">
                    Facilidade
                </h4>
                <p class="subTituloIcone">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/carrinho-de-limpeza.png">
                </p>
                <h4 class="tiuloIcone">
                    Limpeza profisional
                </h4>
                <p class="subTituloIcone">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/agenda.png">
                </p>
                <h4 class="tiuloIcone">
                    Agendamento flexivel
                </h4>
                <p class="subTituloIcone">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </div>
        </div>