<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous" />
<link rel="stylesheet" href="/public/Style.css" />

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic&display=swap" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet" />

<div class="fundo-serv">
<div class="img-servico">
    <h1 class="titulo-sv">
        Nossos Serviços
    </h1>

    <h3 class="subtitulo-sv">
        Conheça nossa variadade de planos e disponibilidades
    </h3>
    <img src="/public/Img/divisao1.svg" style="width: 100%; height: 120px; position: absolute; left: 0; bottom: 0;" />
</div>
    
<h1 class="introfunc">
    Escolha entre os nossos 3 planos
</h1>

<div class="container-sv">
    <div class="row servico">
        <div class="col-sm-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Basico(HP)</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$50 <small class="text-muted">/ hr</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Limpeza para sua house party</li>
                    <li>Pode ser agendada ou não</li>
                    <li>De 2 a 3 funcionarios</li>
                    <li>Área de 0 a 150 m²</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-outline-primary btn-servico">Contrate esse serviço</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Festão</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$100 <small class="text-muted">/ hr</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Limpeza pesada</li>
                    <li>Pode ser agendada ou não</li>
                    <li>De 2 a 6 funcionarios</li>
                    <li>Área de 150 a 400 m²</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary btn-servico">Bora que hoje tem!</button>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Mega evento</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$250 <small class="text-muted">/ hr</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Limpeza pesada</li>
                    <li>Tem que ser agendada</li>
                    <li>De 6 a 12 funcionarios</li>
                    <li>Área de 400 a ∞ m²</li>
                </ul>
                <button type="button" class="btn btn-lg btn-block btn-primary btn-servico">Aqui vai ACONTECER!!</button>
            </div>
        </div>
    </div>
</div>
<h1 class="titulo2-sv">
    Porque escolher Nossos serviços
</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/imediato.png">
                </p>
                <h4 class="tituloIcone">
                    Rapidez
                </h4>
                <p class="subTituloIcone">
                    Agende sua limpeza de maneira rapida e fácil.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/facil.png">
                </p>
                <h4 class="tiuloIcone">
                    Facilidade
                </h4>
                <p class="subTituloIcone">
                    Aqui não há burocrasia para você poder aproveitar o role da maneira mais tranquila.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/carrinho-de-limpeza.png">
                </p>
                <h4 class="tiuloIcone">
                    Limpeza profisional
                </h4>
                <p class="subTituloIcone">
                    Todas as equipes tem o maior cuidado quando se trata do seu espaço sendo higienizado.
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="quadradinho">
                <p class="icone">
                    <img src="/public/img/agenda.png">
                </p>
                <h4 class="tiuloIcone">
                    Agendamento flexivel
                </h4>
                <p class="subTituloIcone">
                    Agende de qualquer lugar e não se preocupe com a data de sua festa.
                </p>
            </div>
        </div>
    </div>
</div>
</div>            
<div class="background-contacts">
            <div class="container">
                <div class="row justify-content-center align-content-center">
                    <div class="col contact">
                        <h4 class="titulo-ressaclean">
                            <span><i class="fas fa-broom"></i> Ressaclean</span>
                        </h4>
                        <ul>
                            <p>A melhor empresa de limpeza</p>
                            <li><i class="fas fa-phone"></i> (11) 99999-9999</li>
                            <li><i class="far fa-envelope"></i> Ressaclean@gmail.com</li>
                            <li>
                                <i class="fas fa-search-location"></i> 250 St Kilda Road, Melboume VIC 3004, Australia
                            </li>
                        </ul>
                    </div>
                    <div class="col contact">
                        <ul>
                            <h6 class="link"><span>Links</span></h6>
                            <li><i class="fas fa-home"></i> Home</li>
                            <li><i class="far fa-question-circle"></i> Sobre</li>
                            <li><i class="fas fa-landmark"></i> Historia da empresa</li>
                        </ul>
                    </div>
                    <div class="col contact">
                        <ul>
                            <h6><span class="suporte">Suporte</span></h6>
                            <li><i class="far fa-comments"></i> Feedbacks</li>
                            <li><i class="fas fa-phone-volume"></i> Contate-nos</li>
                            <li><i class="fas fa-briefcase"></i> Trabalhe conosco</li>
                        </ul>
                    </div>
                </div>
            </div>
</div>
 <div class="copy">
            <p>Copyright &copy; 2021 Ressaclean</p>
</div>