.logo {
    max-width: 100%;
    background-color: rgb(175, 225, 238);
    background-size: cover;
    background-position: center center;
    padding-left: 28%;
    
    /* margin-left: 100px; */
}

.login {
    margin-left: 880px;
}

.titulo-sv{
    text-align: center;
    color:#36E3E3;
}
.titulo2-sv{
    text-align: center;
    color:#36E3E3;
    margin-top: 80px;
    margin-bottom: 5%;
}
.subtitulo-sv{
    text-align: center;
    margin-bottom: 40px;
}
.container-sv{
    margin-top: 80px;
    text-align: center;
}

.quadradinho{
    margin-bottom: 20%;
    background-color: rgb(202, 236, 245);
    text-align: center;
}

.icone{
    transform: scale(0.2, 0.2);
    height: 170px;
    margin-right: 22%;
}

.subTituloIcone{
    padding-bottom: 25%;
}


/* @media screen and (max-width: 600px) {
    .login {
        margin-left: 0px;
    }
} */