.body {
    margin: 0%;
}

.logo {
    max-width: 100%;
    background-image: url("../public/Img/ressaclean.jpg");
    background-size: cover;
    background-position: center center;
}


 .login {
    margin-left: 750px;
} 

.img-servico {
    max-width: 100%;
    background-image: url("../public/Img/Servicos_linpeza.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 180px 20px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    font-family: 'PT Sans Narrow', sans-serif;
}

.titulo-sv {
    text-align: center;
    color: #36E3E3;
    margin: 40px auto 20px auto;
    text-shadow: 1px 1px #535353;
}

.titulo2-sv {
    text-align: center;
    color: #36E3E3;
    margin-top: 80px;
    margin-bottom: 5%;
    text-shadow: 1px 1px #000000;
}

.subtitulo-sv {
    text-align: center;
    margin-bottom: 40px;
    color: #ffffff;
    opacity: 0.8;
    text-shadow: 1px 1px #000000;
}

.servico {
    margin: 0%;
}

.container-sv {
    margin: 100px auto 100px auto;
    text-align: center;
}

.btn-servico {
    background: #b8f4f6;
    color: rgb(8, 8, 8);
    display: inline-block;
    font-size: 17px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'IBM Plex Sans Arabic', Sans-Serif;
    border: 1px solid rgba(0, 0, 0, 0.7);
    transition: .6s linear;
    text-decoration: none;
    box-shadow: 0px 0px 10px 0.2px rgb(170, 170, 170);
}

.btn-servico:hover {
    background: #fff;
    color: #000000;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 0.3px rgb(202, 236, 245);
}

.img-funcionarios {
    max-width: 100%;
    background-image: url("../public/Img/equipe-de-limpeza.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 240px 20px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    font-family: 'PT Sans Narrow', sans-serif;
}

.quadradinho {
    margin-bottom: 20%;
    background-color: rgb(202, 236, 245);
    text-align: center;
    border-radius: 5px;
}

.quadradinho:hover {
    cursor: pointer;
    border: 2px solid #000000;
    background-color: rgb(202, 236, 245);
    color: #000000;
    box-shadow: 2px 2px rgb(0, 0, 0);
    border-radius: 10px;
    padding: 2px 5px 2px 5px;
    transition: .2s ease-in-out;
    display: inherit;
}

.icone {
    max-width: 100%;
    transform: scale(0.2, 0.2);
    height: 150px;
    margin: 0px 50px 20px auto;
}

.subTituloIcone {
    padding-bottom: 25%;
}

.fundo1 {
    background-image: url(https://res.cloudinary.com/sagacity/image/upload/c_crop,h_3333,w_5000,x_0,y_0/c_limit,dpr_auto,f_auto,fl_lossy,q_80,w_1080/086A6699_bdmxdi.jpg);
    background-size: cover;
    background-position: center;
    color: #FFF71F;
    text-align: center;
    position: relative;
    padding: 40px 30px 140px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    font-family: 'PT Sans Narrow', sans-serif;
}

.titulo1 {
    max-width: 600px;
    margin: 0px auto 10px auto;
    text-align: center;
    font-size: 35px;
}

.sub1 {
    max-width: 400px;
    margin: 20px auto 40px auto;
    text-align: center;
}

.imagemLogo {
    max-width: 100%;
}

.fundoOpiniao {
    background-color: #EBEBEB;
    background-size: cover;
    background-position: center;
    padding: 50px 10px;
    text-align: center;
}

.coluna {
    padding: 15px;
}

.divisor {
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 15%, rgba(9, 9, 121, 1) 44%, rgba(54, 227, 227, 1) 67%, rgba(251, 251, 251, 1) 87%);
    padding: 18px;
}

.opinioes {
    text-align: center;
    font-family: 'IBM Plex Sans Arabic', Sans-Serif;
}

.limitador1 {
    padding: 5px 15px;
}

.divisor2 {
    width: 100%;
    max-width: 100%;
    background-size: cover;
    background-position: center;
}

.fundoFundadores {
    background-color: black;
    background-size: cover;
    background-position: center;
    padding: 50px 10px;
    text-align: center;
    color: #EBEBEB;
    font-family: 'IBM Plex Sans Arabic', Sans-Serif;
}

.titulo-fundadores {
    color: #EBEBEB;
}

.titulo-fundadores span {
    font-family: 'Marck Script', cursive;
    background: -webkit-linear-gradient(#4EEEFF, #100);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ftFundadores {
    padding: 20px;
    width: 280px;
}

.copy {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 17px;
    padding: 10px 0px;
    color: #fff;
    background-color: rgb(37, 37, 37);
    text-align: center;
}

.background-contacts {
    color: #fff;
    background-color: rgb(37, 37, 37);
    padding: 20px 0px 0px 0px;
}

.contact {
    padding: 5px 0px 5px 0px;
    margin: 0px 0px 0px 40px;
}

.contact li {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 3px 0px;
}

.contact i {
    color: rgb(218, 214, 214);
}

.contact span {
    color: rgb(226, 241, 6);
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.contact .titulo-ressaclean {
    text-shadow: 1px 1px rgb(17, 17, 17);
}

.titulo_funcionarios {
    text-align: center;
    color: #76f5f5;
    text-shadow: 1px 1px #000000;
}

.subtitulo_funcionarios {
    text-align: center;
    margin: 10px auto 15px auto;
    font-size: 18pt;
    color: #76f5f5;
    text-shadow: 1px 1px #706f6f;
    font-family: 'PT Sans Narrow', sans-serif;
}

.introservico
{
    text-align: center;
    color: #FFF71F;
    text-shadow: 1px 1px #706f6f;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-bottom: 3%;
    padding-top: 5%;
}

.introfunc{
    text-align: center;
    color: #FFF71F;
    text-shadow: 1px 1px #706f6f;
    font-family: 'PT Sans Narrow', sans-serif;
    padding-top: 3%;
}

.fundo-serv{
    background-color: #EBEBEB;
}

.icone-eq {
    max-width: 100%;
    transform: scale(0.2, 0.2);
    height: 150px;
    margin: 0px 0px 20px auto;
}
.fundo-pedido{
    background-color: #EBEBEB;
}
.img-pedido{
    max-width: 100%;
    background-image: url("../public/Img/ressaca.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 180px 20px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    font-family: 'PT Sans Narrow', sans-serif;
}
.caixinhas-pedido{
    padding-top: 1%;
    padding-bottom: 2%;
    margin-top: 2%;
    text-align: center;
    background-image:linear-gradient(  #EBEBEB,#fcf397);
    
}



